.Correct{
    color: rgb(112, 217, 255);
    font-weight: bold;
}

.Incorrect, .Extra{
    color: rgb(255, 124, 43);
    font-weight: bold;
}

.Extra{
    text-decoration: line-through;
}

.Disabled{
    color: rgb(206, 206, 206);
}