.ResultsTitle{
    text-align: center;
    font-size: xx-large;
    padding: 1em;
}

.StatsContainer{
    width: 80%;
    margin: auto;
}

.StatsHeader{
    font-size: x-large;
    padding: 1em;
}

.StatsResults{
    font-size: large;
}

.ResultActionContainer{
    text-align: center;
    padding: 3em;
}

.ResultAction{
    font-size: large;
    padding: 1em;
}