.ResultsTitle{
    text-align: center;
    font-size: xx-large;
    padding: 1em;
}

.StatsContainer{
    width: 80%;
    margin: auto;
}

.StatsHeader{
    font-size: xx-large;
    padding: 1em;
}

.StatsResults{
    display: flex;
    gap: 1em;
}

.StatsResultSingle{
    border: solid aliceblue 1px;
    padding: 2em;
    text-align: center;
}

.StatsResultSingleHeader{
    font-size: x-large;
    border-bottom: solid aliceblue 1px;
}

.StatsResultSingleValue{
    font-size: large;
    padding-top: 1em;
}

.ResultActionContainer{
    text-align: center;
    padding: 3em;
}

.ResultAction{
    font-size: large;
    padding: 1em;
}