.SelectTitle{
    text-align: center;
    font-size: x-large;
    padding: 1em;
}

.ButtonGrid{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.SelectButton{
    font-size: large;
    padding: 1em;
}