.TestHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    font-size: x-large;
    padding: 2em;
    width: 70%;
    margin: auto;
}

.Prompt{
    text-align: center;
    font-size: xx-large;
    width: 60%;
    margin: auto;
}

.EndPrompt{
    font-style: italic;
    font-size: large;
    text-align: center;
    padding: 3em;
}